<h1>Events</h1>

<%= link_to 'Click to Add a New Event', new_event_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Happens</th>
    <th>Venue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.happens %></td>
    <% if event.venue %>
      <td><%= link_to event.venue.name, event %></td>
    <% else %> 
      <td></td>
    <% end %>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

